doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Contact Us
        link(rel='stylesheet' href='css/main.css')
        script(src='js/main.js' defer='')
    body
        header Tweetr
        include navbar.pug
        div#loggedOut
            h1 Logged Out - See you soon!