#navDiv
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/loginPage') Log in 
      li
        a(href='/signupPage') Sign up
      li
        button#logout
          a(href='/logout') Log out